*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;   
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
/* main Container */
.main-flex{
    max-width: 1111px;
    max-height: 100vh;
    display: flex;
    margin: auto;
    gap: 8rem;
    /* border: 1px solid black; */
}

/* Card-1 Profile */
.card-1{
    max-width: 480px;
    flex: 1;
    background-color: black;
    /* border: 1px solid black; */
    margin: 1.5rem;
    margin-left: 4rem;
    border-radius: 2rem;
    padding: 2.7rem;
}

.card-flex{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
/* card-1 Logo */

.card-flex img{
    width: 1.8rem;
    height: 1.8rem;
}

/* Card-1 main section info */
.section{
    margin: 2.4rem 0 6rem;
}
.card-flex h2{
    color: #fff;
    font-size: 2rem;
    font-weight: 550;
}
.card-flex .section p{
    color: grey;
    font-size: 12px;
    line-height: 1.5;
    text-align: left;
    margin-top: .6rem;
    padding-right: 4rem;
}


/* Card-1 Footer Design */
.card-flex .information-flex{
    background-color: rgb(62, 61, 61);
    border-radius: 2rem;
    padding: 1.2rem;
}

.information-flex p{
    color:rgb(205, 205, 205);
    margin-bottom: .6rem;
    font-size: 11px;
    line-height: 1.4;
    font-weight: 300;
    
}

.team-flex{
    display: flex;
    gap: .8rem;
    
}

.team-flex img{
    border-radius: 50%;
    border: .2rem solid #fff;
}

.teaminfo-flex{
    margin: auto 0;

    h4{
        margin-bottom: 1px;
        color: #fff;
        font-weight: 600;
        font-size: 11px;
    }
    h5{
        color: rgb(114, 114, 114);
        font-weight: 550;
        font-size: 8px;
    }
}



/* Card-2 design  */

/* card-2 header */
.card-2 div{
    max-width: 350px;
    /* border: 1px solid black; */
}
.card-2{
    flex: 1;
    align-self: center;
    /* width: 100px; */
    height: 100%;
    margin-right: 2rem;
    /* border: 1px solid black; */

    h3{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 6px;
    }

    h4{
        font-size: 12px;
        font-weight: 400;  
        color: #645D5D;  
        margin-bottom: 20px;
    }

    span a{
        color: #EB5017;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
    }
}

/* Card-2 Form filling Section  */

.form-group label{
    display: block;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 2px;
}
.form-group input{
    width: 100%;
    height:  29px;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid #D0D5DD;
    margin-bottom: 10px;

}

.form-group{
    position: relative;
}
.fas{
    position: absolute; 
    margin:  .5rem;
    right: 0;
    cursor: pointer;
    width: 1px;
    height: 1px;
    margin-right: 2rem;
}

.fas:hover{
    color: #EB5017;
}

.btn{
    display: block;
    width: 100%;
    padding: 10px 18px;
    border-radius: 8px;
    background-color: #EB5017;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    margin: 15px 0 10px;
}

.card-2 .frg-pass{
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 12px;
}

.or{
    text-align: center;
    margin-bottom: 10px;
}

.socialbtn-flex{
    display: flex;
    justify-content: space-between;
    gap: 8px;
    
    a{
        width: 100%;
    }

}

.box{
    display: flex; 
    border: 1.5px solid  #D0D5DD;
    padding: 5px;
    width: 100%;
    gap: 6px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;

    
}
.box img{
    width: 16px;
    height: 16px;
   
}
.box h3{
    margin-top: 5px;
    font-size: 13px;
    font-weight: 600;
}



@media(max-width: 700px){
    .main-flex{
        flex-direction: column;
    }
    .card-2{
        padding-bottom: 5rem;
    }
}





